.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  background-color: rgba(15, 23, 42, 0.8);
  min-height: 100vh;
  color: white;
}
